.row.d-flex.justify-content-center.mt-lg-5
  .col.col-sm-12.col-md-10.col-xl-8
    = simple_form_for loan do |f|
      .card
        .card-header.text-white.bg-main.mb-2.rounded-top
          .h6.text-center.mt-2= title
        .card-body.bg-light
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'requester'} Solicitante:
            .col-sm-10
              = f.association :requester,
                label_method: :company_name,
                value_method: :id,
                label: false,
                class: 'form-control',
                required: true
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'amount'} Valor (R$)
            .col-sm-10
              = f.input :amount,
                label: false,
                input_html: { min: 0.0 },
                class: 'form-control',
                required: true
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'term'} Prazo
            .col-sm-10
              = f.input :term,
                label: false,
                input_html: { min: 1 },
                class: 'form-control',
                required: true
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'tax'} Taxa (%)
            .col-sm-10
              = f.input :tax,
                label: false,
                input_html: { min: 0.0 },
                class: 'form-control',
                required: true
        .card-footer.bg-transparent.border-0
          .row.justify-content-between
            .col
              .float-right
                = f.button :submit, 'Salvar', class: 'btn btn-primary'
              .float-left
                = link_to 'Voltar', requesters_path, class: 'btn btn-light'