.row.d-flex.justify-content-center.mt-lg-5
  .jumbotron
    %h1.display-4= "Valor Solicitado: #{number_to_currency(@loan.amount)}"
    %p.lead= show_parcelas(@loan)
    .d-flex.justify-content-end
      = link_to 'Editar Solicitação', edit_loan_path(@loan),
        class: 'btn btn-info btn-sm mr-1'
      = link_to loan_path(@loan), method: :delete,
        title: 'Excluir',
        data: { confirm: 'Confima a exclusão?' },
        class: 'btn btn-danger btn-sm' do
        %i.fas.fa-trash
    %hr.my-4
    - if @loan.portions.present?
      = render partial: 'portions/list'
    - else
      .d-flex.justify-content-between
        %h3="Solicitante: #{@loan.requester.company_name}"
        = link_to new_portion_path(loan_id: @loan), class: 'btn btn-primary' do
          %i.fas.fa-bars
          Parcelamento
