.row.d-flex.justify-content-center.mt-lg-5
  .col.col-sm-12.col-md-10.col-xl-8
    = simple_form_for @portion do |f|
      .card
        .card-header.text-white.bg-main.mb-2.rounded-top
          .h6.text-center.mt-2 Parcelamento
        .card-body.bg-light
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'loan'} Solicitação
            .col-sm-3
              = f.input :loan_id,
                label: false,
                input_html: { value: @loan.id },
                readonly: true
            %label.col-sm-2.col-form-label{for: 'amount'} Valor (R$)
            %label.col-sm-1.col-form-label{for: 'amount'}= "#{@loan.term} x"
            .col-sm-3
              = f.input :amount,
              label: false,
              required: true
          .form-group.row
            %label.col-sm-2.col-form-label{for: 'due_date'} Vencimento
            .col-sm-5
              = f.input :due_date,
              label: false,
              required: true
        .card-footer.bg-transparent.border-0
          .row.justify-content-between
            .col
              .float-right
                = f.button :submit, 'Gerar Parcelas', class: 'btn btn-primary'
              .float-left
                = link_to 'Voltar', loan_path(@loan), class: 'btn btn-light'